<table class="table table-striped table-bordered table-condensed">
<tr>
  <th>Title</th>
  <th>Deliverables / Definition of "Done"</th>
  <th>Leader(s)</th>
  <th>Mentor</th>
  <th>Due</th>
  <th>Completed</th>
  <th>Edit</th>
</tr>
<% action_items.each do |action_item| %>
  <tr>
    <td><%= action_item.title %></td>
    <td class="deliverables"><%= action_item.deliverables %></td>
    <td>
      <% action_item.users.each do |user| %>
        <div style="white-space: nowrap;"><%= user.name %></div>
      <% end %>
    </td>
    <td><%= action_item.mentor %></td>
    <td style="white-space: nowrap;">
      <%= action_item.due_date ? action_item.due_date.strftime("%Y-%m-%d") : "" %>
    </td>
    <td style="white-space: nowrap;">
      <%= action_item.completion_date ? action_item.completion_date.strftime("%Y-%m-%d") : "" %>
    </td>
    <td>
      <a href="/action_items/<%= action_item.id %>/edit" class="btn btn-primary btn-small">
        <i class="icon-white icon-pencil"></i>
      </a>
    </td>
  </tr>
<% end %>
</table>
