    </div>
    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/bootstrap-editable.min.js"></script>
    <script>
      var leaders = [];
      var allLeaderIds = [];
      var leaderIds = {};
      var leaderNames = {};
      <% User.all.select { |user| user.is_leader? }.each do |user| %>
        leaders.push("<%= user.name %>");
        allLeaderIds.push(<%= user.id %>);
        leaderIds["<%= user.name %>"] = <%= user.id %>;
        leaderNames[<%= user.id %>] = "<%= user.name %>";
      <% end %>
      leaders.push("All Leaders");
      leaderIds["All Leaders"] = -1;
    </script>
    <script src="/js/js.js"></script>
  </body>
</html>
